 
  .container {    
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .form {
    min-width: 100%;
    max-width: 100%;    
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }