<div style="height: 100%; width: 100%;">
    <div class="progress-bar">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingResults"></mat-progress-bar>
    </div>
    <div class="row">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
            <h4 style="text-align: center;">Recadastramento de senha</h4>
            <mat-form-field class="form-element">
                <input matInput placeholder="Email" formControlName="email">
                <mat-hint>Digite o email e clique em enviar para receber um link de recadastramento de senha.
                </mat-hint>
                <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                </mat-error>
            </mat-form-field>
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!formGroup.valid">Enviar</button>
            </div>

        </form>
    </div>
</div>