 
  .container {    
    width: 650px; 
    margin-left: auto;
    margin-right: auto; 
  }
  
  .form {
    min-width: 150px;
    max-width: 650px;    
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 100%;
  }